.login_img_section {
    background-image: url("https://media.istockphoto.com/id/1157789866/photo/modern-computer-laptop-with-blank-screen-on-counter-barand-window-view.jpg?s=612x612&w=0&k=20&c=Idggc96ENAdz7R_ANTzvWpMTbaUcTV4JvJYKJHAD71A=");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
